<div class="corpo-principal">
    <div class="faixa-top text-center">
        <h1 class="titulo">SAIBA MAIS</h1>
    </div>

    <div class="corpo-conteudo">
        <h2 class="subtitulo">Sobre o sistema!</h2>
        <p >
            Somos uma equipe de estudantes do curso de Análise e Desenvolvimento de Sistemas no Centro Universitário
            UNA. 
        </p>
        <p style="padding-bottom: 20px;">
            Pensando no papel transformador das mídias sociais através da comunicação, o projeto “The Health Talks” visa possibilitar que profissionais da saúde compartilhem suas vivências na área, construindo uma rede de apoio e identificação.
        </p>
    </div>

    <div class="corpo-conteudo">
        <h2 class="subtitulo">Participantes</h2>
        <p>
            Breno Costa <a href="https://github.com/Breno-Costa-96" class="links-git"> https://github.com/Breno-Costa-96</a>
        </p>
        <p>
            Gustavo Augusto <a href="https://github.com/gustagt" class="links-git"> https://github.com/gustagt</a>
        </p>
        <p >
            Nadine Pereira <a href="https://github.com/nadine-e-pereira" class="links-git"> https://github.com/nadine-e-pereira</a>
        </p>
        <p>
            Samuel Hipólito <a href="https://github.com/osamukafps" class="links-git"> https://github.com/osamukafps</a>
        </p>
        <p style="padding-bottom: 20px;">
            Wanderly Robson <a href="https://github.com/wanderlyrobson" class="links-git"> https://github.com/wanderlyrobson</a>
        </p>

    </div>
</div>